{% extends 'index.html' %}


{% block content %}

<h3>Marketing decisions</h3>
{{user.username}}

<p>{{company.name}} -- {{company.id}} </p>

<p>{{game.name}} {{game.host}} {{game.month}}</p>


<div>
    <form method="POST" action="">
        {% csrf_token %}
        <h3>Prices</h3>
        <p>
        <label>Selling Price of P1:</label>
        <input type="text" name="price-P1" placeholder="$ {{company.priceP1}}" />

        <label>Selling Price of P2:</label>
        <input type="text" name="price-P2" placeholder="$ {{company.priceP2}}" />

        <label>Selling Price of P3:</label>
        <input type="text" name="price-P3" placeholder="$ {{company.priceP3}}" />
        </p>

        <h3>Brand Publicity</h3>
        <p>
        <label>Brand Publicity Budget:</label>
        <input type="text" name="brand-pub" placeholder="$ {{company.pubBrand}}" />
        </p>

        <h3>Products Publicity</h3>
        <p>
        <label>P1:</label>
        <input type="text" name="pub-P1" placeholder="$ {{company.pubP1}}" />

        <label>P2:</label>
        <input type="text" name="pub-P2" placeholder="$ {{company.pubP2}}" />

        <label>P3:</label>
        <input type="text" name="pub-P3" placeholder="$ {{company.pubP3}}" />
        </p>
        <input type="submit" value="Save decisions" />
    </form>
</div>

{% endblock content %}